<header class="menu-principal">
  <a class="logo" href="{{ url_for('home') }}">
    <img
      src="{{ url_for('static', filename='imagens/logo.png') }}"
      alt="Logo N.E.T."
    >
  </a>

  <div class="menu-conteudo">
    <form
      class="pesquisa-menu"
      action="{{ url_for('disciplinas.disciplinas') }}"
      method="GET"
    >
      <label for="pesquisa-menu">
        <i class="fa-solid fa-magnifying-glass"></i>
        Pesquisar
      </label>

      <input
        id="pesquisa-menu"
        name="q"
        type="search"
        value="{{ request.args.get('q', '') }}"
        placeholder="Digite aqui..."
      >
    </form>

        <a href="{{ url_for('home') }}">
        Início
        </a>

        <a
        href="{{ url_for('disciplinas.disciplinas') }}"
        >
        Disciplinas
        </a>

        <a
        href="{{ url_for('conteudos.conteudos') }}"
        >
        Conteúdos
        </a>

        <a
        href="{{ url_for('notificacoes.tela_notificacoes') }}"
        >
        Notificações
        </a>

        <a
        href="{{ url_for('perfil.exibir_perfil') }}"
        >
        Perfil
        </a>
  </div>
</header>