body {
    font-family: sans-serif;
    margin: 20px;
}

/* criar a linha do menu no topo */
nav {
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: #345d89;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

/* serve para criar uma linha divisória entre cada bloco de conteúdo */
main > div {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* dar um recuo nos materiais e nos formulários */
main div div {
    margin-left: 20px;
    margin-top: 10px;
}

/* espaço nos campos de texto */
input {
    margin: 5px 0;
    padding: 5px;
}

/* espaço nos botões */
button {
    padding: 5px 10px;
    cursor: pointer;
}