<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
      N.E.T.
    {% endblock %}
  </title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/rodape.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  {% block head %}
  {% endblock %}
</head>

<body>
  <nav>
    {% include 'componentes/menu.html' %}
  </nav>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  {% include 'componentes/rodape.html' %}

  {% block scripts %}
  {% endblock %}
</body>
</html>