<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>N.E.T.</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% block head %}
  {% endblock %}
</head>

<body>
{% block body %}
  <nav>
    {% block nav %}
      <!-- Inclui o componente da pasta componentes -->
      {% include 'componentes/menu.html' %}
    {% endblock %}
  </nav>

  <main>
    {% block main %}
      Conteúdo principal
    {% endblock %}
  </main>

  {% block footer %}
    <!-- Inclui o componente da pasta componentes -->
    {% include 'componentes/rodape.html' %}
  {% endblock %}

{% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>