{% extends 'base.html' %}

{% block main %}
<hr>

<h2>Disciplina: {{ disciplina.nome }}</h2>

<hr>

<div>
    <h3>[Modo Edição] Criar Novo Conteúdo</h3>
    <form action="" method="POST">
        <p>
            <input type="text" name="titulo_conteudo" placeholder="Título do Conteúdo (Ex: Laços de Repetição)" required>
            <input type="text" name="descricao_conteudo" placeholder="Descrição do Conteúdo">
        </p>
        <button type="submit">Salvar Conteúdo</button>
    </form>
</div>

{% for c in conteudos %}
<div>
    <h2>
        <a href="{{ url_for('materiais.ver_materiais', conteudo_id=c.id) }}">
            {{ c.titulo }}
        </a>
    </h2>
    <p>{{ c.descricao }}</p>
    <button type="button">[Excluir Conteúdo]</button>
    </div>
</div>
{% else %}
<p>Nenhum conteúdo cadastrado para esta disciplina ainda.</p>
{% endfor %}

{% endblock %}