{% extends "base.html" %}

{% block title %}
  Notificações — N.E.T.
{% endblock %}

{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/notificacoes.css') }}"
>
{% endblock %}

{% block main %}

{% set avaliacao_concluida = dados.status_avaliacao in [
  'Aprovada',
  'Reprovada'
] %}

<section class="pagina-notificacoes">
  <div class="container">

    <div class="caminho-pagina">
      <a href="{{ url_for('home') }}">
        Início
      </a>

      <span>›</span>

      <strong>
        Notificações
      </strong>
    </div>

    <div class="cabecalho-pagina">
      <span class="etiqueta">
        acompanhe a comunidade
      </span>

      <h1>
        {{ dados.titulo_notificacao }}
      </h1>

      <p>
        Veja as alterações e contribuições que precisam
        da sua atenção.
      </p>
    </div>

  

  </div>
</section>

{% endblock %}